.page1-container {
  --page1-sidecard-width: 300px;
  padding: 20px;
  min-height: 100vh;
}

.page1-container.sidecard-collapsed {
  --page1-sidecard-width: 56px;
}

.page1-content {
  margin-left: var(--page1-sidecard-width);
}

.floating-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  
  /* position: sticky;
  top: 100vh; */
  position: fixed;
  left: calc(200px + var(--page1-sidecard-width) + 20px);
  right: 20px;
  bottom: 20px;
  box-sizing: border-box;
  z-index: 950;
  /*Transition Animation*/
  transition: left 0.3s ease;
  will-change: left;
}

.sidebar.collapsed ~ .main-content .floating-wrapper {
  left: calc(50px + var(--page1-sidecard-width) + 20px);
}
